<?xml version="1.0"?>

<configuration>


	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<authentication mode="None" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<system.serviceModel>
		<protocolMapping>
			<add binding="webHttpBinding" scheme="http" />
		</protocolMapping>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding name="NewBinding0" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
			</basicHttpBinding>
		</bindings>
		<services>


			<service behaviorConfiguration="ServiceBehavior" name="Rest.Services.DemoService">
				<endpoint address="" binding="webHttpBinding" contract="Rest.Service.Contract.IDemoService" behaviorConfiguration="EndpointBehavior" />
			</service>

		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="EndpointBehavior">
					<webHttp helpEnabled="True" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<appSettings>


		<add key="SecurityKey" value="021246" />
		<add key="LogPath" value="C:\Log" />

	</appSettings>

</configuration>